body {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 242, 242);
  font-family: 'Sansita Swashed', cursive;
}

main {
  width: 100%;
  height: 80vh;
  

  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  text-align: center;

}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 100vh;
}

section  h1 {
  text-align: center;
}

/* ------- summary side --------*/
#summary {
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 94%);
  background-color: rgb(224, 224, 224);
  width: 100%;
  height: 50vh;
}

#summary div{
  text-align: center;
  width: 90%;
  font-size: 25px;
}


/* ------- skills side --------*/

#skills {
  clip-path: polygon(0 0, 100% 7%, 100% 94%, 0% 100%);
  width: 100%;
  height: 60vh;
  margin-top: -7%;
}



/* ------- experience side --------*/

#experience{
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 94%);
  background-color: rgb(224, 224, 224);
  width: 100%;
  height: 60vh;
  margin-top: -7%;
}



/* ------- academic training side --------*/

#academicTraining{
  clip-path: polygon(0 0, 100% 7%, 100% 94%, 0% 100%);
  width: 100%;
  height: 60vh;
  margin-top: -7%;
}

#academicTraining div{
  text-align: center;
}

#academicTraining div article, #realEstateTitle{
  width: 40%;
  box-shadow: 0 0 10px 0 black;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

/* ------- projects side --------*/

#projects{
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  background-color: rgb(224, 224, 224);
  width: 100%;
  height: 60vh;
  margin-top: -7%;
}


#realEstateTitle{
  text-align: center;
  padding: 20px;
}

#realEstateTitle:hover{
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgb(0, 110, 255);
}

#projectSeeMore{
  width: 95%;
  margin: auto;
  display: none
}
/*----------- --------------- */




img {
  border-radius: 100px;
  
}

link {
  border-radius: 30px;
}


